*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#background{
    background-image: url(images/6.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#nav{
    background-color: black;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
}
#logo{
    margin-left: 8vw;
}
#headings{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3em;
}
#headings h1{
    font-size: 7.5rem;
}
#bodiv{
    display: flex;
    justify-content: space-around;
    margin: 3em;
}
#why{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}
#who h1{
    margin: 0.5em;
}
#who p{
    margin: 0.5em;
}
#who{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}
#why h1{
    margin: 0.5em;
}
#why p{
    margin: 0.5em;
}
#quali{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}
#quali h1{
    margin: 0.5em;
}
#quali p{
    margin: 0.5em;
}
#bodiv2{
    display: flex;
    justify-content: center;
}










#foot{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 17vh;
}
#foot div{
    color: white;
}
#footlist{
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#foot ul li{
    margin: 2vh;
    padding: 2vh;
    margin-top: 4vh;
}
#cc{
    margin: 1vh;
    padding: 1vh;
    width: 75vw;
}




@media screen and (max-width: 400px){
    html{
        font-size: 0.4rem;
    }
}
