*{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
}

#bgimg{
    background-image: url(/images/9.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#nav{
    width: 100%;
    height: 12vh;
    background-color: black;
    display: flex;
    align-items: center;
}
#logo{
    margin-left: 8vw;
}
#head-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4em;
    height: 95vh;
}
#head-text h1{
    font-size: 6rem;
}
#head-text h2{
    font-size: 3rem;
    font-style: italic;
}
#bodiv{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    margin-bottom: 2em;
}
#para{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    width: 58%;
    height: 80vh;
}
#contactform{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    width: 38%;
    height: 65vh;
}
#contactform h1{
    position: absolute;
}
#foot{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 17vh;
}
#foot div{
    color: white;
}
#footlist{
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#foot ul li{
    margin: 2vh;
    padding: 2vh;
    margin-top: 4vh;
}
#cc{
    margin: 1vh;
    padding: 1vh;
    width: 75vw;
}
.element{
    font-size: 1.3rem;
    padding: 0.4em;
}
.element input{
    width: 100%;
}
#form{
    /* border: 1px solid red; */
    margin-top: 6vh;
    width: 80%;
}
textarea{
    width: 100%;
    resize: none;
    margin: 0.4em;
}








@media screen and (max-width: 400px){
    html{
        font-size: 0.4rem;
    }
}
